<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- <div class="container">
  <h2>Button Styles</h2>
  <button type="button" class="btn">Basic</button>
  <button type="button" class="btn btn-default">Default</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>   
     
</div> -->
  <div class="container py-4" id="summaryForm">
    <h2 class="home-referral-primary">Summary of your referral</h2>
    <div class="dropdown-divider mt-3"></div>
    <div class="py-4 px-2">
      <h5>Eligibility</h5>
      <div class="py-3 w-100 mx-0 row align-items-center">
        <label class="question-font pr-2 col-12 col-md-4 pl-0" for="iamA">
          I am a:
        </label>
        <input class="form-control col-md-6 col-lg-6 col-xl-5 col-11" type="text" id="iamA">
      </div>

      <div class="readOnly-class py-2 w-100 mx-0 row align-items-center">
        <label class="question-font col-12 col-md-4 pl-0" for="InterpreterNeed">
          Interpreter needed:
        </label>
        <input class="form-control input-bg-form-control col-md-6 col-lg-6 col-xl-5 col-11" type="text"
          id="InterpreterNeed">
      </div>

      <div class="readOnly-class  py-3 w-100 mx-0 row align-items-center">
        <label class="question-font pr-2 col-12 col-md-4 pl-0" for="dobChilds">
          Child's D.O.B:
        </label>
        <input class="form-control col-md-6 col-lg-6 col-xl-5 col-11" type="text" id="dobChilds">
      </div>

      <div class="readOnly-class py-3 w-100 mx-0 row align-items-center">
        <label class="question-font pr-2 col-12 col-md-4 pl-0" for="consentGivenSec5">
          Consent given:
        </label>
        <input class="form-control col-md-6 col-lg-6 col-xl-5 col-11" type="text" id="consentGivenSec5">
      </div>

      <div class="readOnly-class py-3 w-100 mx-0 row align-items-center">
        <label class="question-font pr-2 col-12 col-md-4 pl-0" for="canReasonCamhs">
          Contact parent or carer:
        </label>
        <input class="form-control col-md-6 col-lg-6 col-xl-5 col-11" type="text" id="canReasonCamhs">
      </div>

      <div class="readOnly-class  py-3 w-100 mx-0 row align-items-center">
        <label class="question-font pr-2 col-12 col-md-4 pl-0" for="gpLoc">
          GP:
        </label>
        <textarea class="form-control col-md-6 col-lg-6 col-xl-5 col-11" type="text" id="gpLoc">
              </textarea>
      </div>

    </div>
    <div class="dropdown-divider mt-3"></div>
  </div>

</body>

</html>