<!DOCTYPE html>
<html>

<head>
    <style>
        @import url('http://fonts.cdnfonts.com/css/century-gothic');
    </style>
    <style>
        .labelTitle {
            font-size: 16px;
        }

        .text-container {
            display: flex;
            align-items: center;
            padding: 8px 0px
        }

        .label-set {
            width: 300px;
        }

        .input-text {
            background: #e8edee 0% 0% no-repeat padding-box !important;
            color: #8f979e !important;
            font-size: 16px;
            padding: .375rem .75rem;
            font-weight: 400;
            line-height: 1.5;
            width: 100%;
            border-radius: 2px !important;
            opacity: 1 !important;
            border-color: white !important;
            border: none !important;
            height: 36px !important;
        }
    </style>
</head>

<body style="font-family: 'Century Gothic', sans-serif !important;">
    <div style="padding: 40px 68px;">
        <h2>Summary of your referral</h2>
        <div style="border-top: 2px solid #b4b8ba"></div>
        <div>
            <h5 style="font-size: 18px;color: #023047;font-weight: bold;letter-spacing: 1px;margin: 16px 0px;">
                Eligibility</h5>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        I am a:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Interpreter needed:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Child's D.O.B:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Consent given:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Contact parent or carer:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        GP:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>


        </div>
        <div style="border-top: 1px solid #b4b8ba;margin:24px 0px"></div>
        <div>
            <h5 style="font-size: 18px;color: #023047;font-weight: bold;letter-spacing: 1px;margin: 16px 0px;">
                About you</h5>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        NHS Number:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Full name:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        E-mail:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Contact Number:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Address:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Happy for post to be send:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Gender:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Identifies with gender of birth:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Sexual orientation:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Ethnicity
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        cares for an adult:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Parent / carer’s name:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Have a parental responsibility:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Relationship:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Your contact Number
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Your email address:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Lives in same house:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        the child's legal care status:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>

        </div>
        <div style="border-top: 1px solid #b4b8ba;margin:24px 0px"></div>
        <div>
            <h5 style="font-size: 18px;color: #023047;font-weight: bold;letter-spacing: 1px;margin: 16px 0px;">
                Support needs</h5>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Education / employment:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        EHCP plan:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Open to EHAP:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Social worked:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
        </div>
        <div style="border-top: 1px solid #b4b8ba;margin:24px 0px"></div>
        <div>
            <h5 style="font-size: 18px;color: #023047;font-weight: bold;letter-spacing: 1px;margin: 16px 0px;">
                Your reason for referral</h5>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Support needs:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Covid related?
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Main reason for making referral:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Info about issue:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Has anything helped?
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Triggers:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Disabilities / difficulties:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div class="text-container">
                <div class="label-set">
                    <label class="labelTitle">
                        Accessed services:
                    </label>
                </div>
                <div class="label-set">
                    <input type="text" class="input-text" id="iamA">
                </div>
            </div>
            <div style="border-top: 1px solid #b4b8ba;margin:24px 0px"></div>
        </div>
    </div>
</body>

</html>