<html>
<p>
    Hi, <br /><br />
    Thank you for making a referral. Please find a copy of the referral you have made attached. <br />
    Your referral code <b>
        <%= refCode %>
    </b>

    <br /><br />
    You can use this code to check the status of your referral and any actions relating to it by going to: <%= frontEndUrl %> and entering it at the bottom of the screen in the ‘check a
        referral’
        box.<br />
        <br /><br />
        Thanks,<br />
        The Sefton & Liverpool CAMHS team<br />
</p>

</html>